{% set logo = '/base/img/logo.png' %}
{% set domain = 'https://www.geosolutionsgroup.com/' %}
{% set customer = 'About GeoSolutions' %}
{% set landingPage = 'about' %}
{% set powerdByDomain = 'https://www.geosolutionsgroup.com/' %}
{% set powerdBy = 'GeoSolutions' %}


<footer class="site-footer">
    <div class="container">
      {% block footer_content %}
      <div class="row">
        <div class="col-md-8 footer-links">
            {% block header_logo %}

            <a class="logo" href="{{ domain }}">
                <img src="{{ logo }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" />
            </a>
            {% endblock %}
          {% block footer_nav %}
            <ul class="list-unstyled">
              {% block footer_links %}
                <li><a href="{{ domain ~ landingPage }}" target="blank">{{ customer }}</a></li>
              {% endblock %}
            </ul>
          {% endblock %}
        </div>
        <div class="col-md-4 attribution">
          {% block footer_attribution %}
            <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}
                and <strong><a href="{{ powerdByDomain }}">{{powerdBy}}</a></strong>
            </p>
          {% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>

    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
  </footer>
